@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.switch {
    background-color: #343D5B;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s ease all;
}

.switch::after{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #F1F1F1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.switch.active{
    background: rgb(3, 218, 198);
    color: #000;
}

.active::after {
    transform: translateX(30px);
}

span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav > div > a > i {
    color: rgb(3, 218, 198);
    font-size: 2.5em;
    margin: 30px 50px;
}

section {
    font-family: 'Inter', sans-serif;
    margin-top: 8vh;
}

section > p {
    font-size: 1.2em;
    color: #343D5B;
}

h1 {
    font-size: 4em;
    color: #343D5B;
    white-space: nowrap;
}

ul {
    font-size: 1.2em;
    color: #343D5B;
    font-weight: 500;
}

ul > li {
    line-height: 2;
    letter-spacing: 0.5px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100vh;
    max-width: 1500px;
    max-height: 800px;
    margin: 0 auto;
}

body {
    background-color: #eaeffd;
    width: 100%;
    margin: 0;
    transition: 0.5s ease all;
}

body.dark {
    background-color: #42405c;
}

body.dark nav > div > a > i {
    color: rgb(190, 136, 255);
}

body.dark h1 {
    color: white;
}

body.dark ul > li {
    color: #b8c1ec;
}

body.dark .scientificButton {
    color: rgb(49, 151, 145);
    background-color: rgb(39, 39, 39);
}

body.dark .commonButton {
    color: white;
    background-color: rgb(44, 44, 44);
}

body.dark #screen {
    color: white;
    background-color: rgb(44, 44, 44);
}

body.dark #specialButton {
    color: white;
    background-color: rgb(49, 151, 145);
}

body.dark .eraseButton {
    color: rgb(241, 146, 52);
    background-color: rgb(39, 39, 39);
}

body.dark .div-background-first {
    background-color: rgb(39, 39, 39);
}

body.dark .div-background-second {
    background-color: rgb(44, 44, 44);
}

.div-background-first {
    background-color: rgb(239, 239, 239);
}

.div-background-second {
    background-color: rgb(248, 248, 248);
}

#screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px 20px 0 0;
    background-color: rgb(248, 248, 248);
    height: 170px;
    font-weight: 600;
}

body.dark .equal {
    background-color: rgb(64, 192, 183) !important;
    transform: translateY(4px);
}

body.dark .activate:not(#switch):not(#switch-mobile) {
    background-color: rgb(51, 51, 51) !important;
    transform: translateY(4px);
}

body.dark .eraseSpecial {
    background-color: rgb(51, 51, 51) !important;
    transform: translateY(4px);
}

body.dark .commonButton:hover, body.dark .scientificButton:hover {
    cursor: pointer;
    background-color: rgb(51, 51, 51);
}

body.dark #specialButton:hover {
    background-color: rgb(64, 192, 183);
}

body.dark .eraseButton:hover {
    cursor: pointer;
    background-color: rgb(51, 51, 51);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

p {
    margin: 0;
    overflow: auto;
}

#special-div {
    border-radius: 0 0 20px 20px;
}

#changeSign {
    border-radius: 0 0 0 20px;
}

#specialButton {
    border-radius: 0 0 20px 0;
}

#screen > p#bigScreen {
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 1.7em;
    flex: 1;
    width: 320px;
    padding: 0 2%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

#screen > p#smallScreen {
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 1.3em;
    flex: 1;
    width: 320px;
    padding: 0 2%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

#lastOperation {
    font-family: 'M PLUS 1p', sans-serif;
    color: rgb(190, 190, 190);
    font-size: 1em;
    flex: 1;
    width: 320px;
    padding: 0 2%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

#calculatorMain {
    border-radius: 20px;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
}

#calculatorMain > div {
    width: 320px;
    max-width: 320px;
    box-sizing: border-box;
}

#calculatorMain > div:not(#screen) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

button:not(#switch):not(#switch-mobile) {
    font-size: 1.4em;
    font-weight: 600;
    font-family: 'M PLUS 1p', sans-serif;
    width: 25%;
    height: 45px;
    border: none;
    /* border: 2px solid rgb(236, 237, 239); */
}

button:not(#switch):not(#switch-mobile):active {
    transform: translateY(4px);
}

.activate:not(#switch) {
    background-color:  rgb(224, 224, 224) !important;
    transform: translateY(4px);
}

.equal {
    background-color: rgb(60, 144, 209) !important;
    transform: translateY(4px);
}

.eraseSpecial {
    background-color: rgb(224, 224, 224) !important;
    transform: translateY(4px);
}

button:focus {
    outline: 0;
}

.commonButton:hover, .scientificButton:hover {
    cursor: pointer;
    background-color: rgb(224, 224, 224);
}

#specialButton:hover {
    cursor: pointer;
    background-color: rgb(60, 144, 209);
}

.eraseButton:hover {
    cursor: pointer;
    background-color: rgb(224, 224, 224);
}

#specialButton {
    background-color: rgb(143, 184, 219);
}

.commonButton {
    color: black;
    background-color: rgb(248, 248, 248);
}

.scientificButton {
    color: #7209B7;
    background-color: rgb(236, 236, 236);
}

.eraseButton {
    color: rgb(255, 107, 163);
    background-color: rgb(236, 236, 236);
}

.button-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 50px;
}

/* Mobile Styles */
@media only screen and (max-width: 425px) {

    nav > div > a > i {
        margin: 20px 30px;
    }

    .button-block {
        margin: 20px 30px;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 2vh;
    }

    nav > div {
        display: flex;
        flex-wrap: nowrap;
    }

    h1 {
        font-size: 3em;
        margin: 20px 0;
        text-align: center;
        white-space: normal;
    }

    #switch {
        display: none;
    }

    section {
        margin-top: 0;
    }

    ul {
        margin-top: 35px;
    }

    main {
        display: block;
        height: 70%;
    }

    #calculatorMain {
        margin-bottom: 50px;
    }

}


/* Mobile Styles */
@media only screen and (min-width: 426px) and (max-width: 754px) {

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 2vh;
    }

    nav > div {
        display: flex;
        flex-wrap: nowrap;
    }

    h1 {
        margin: 20px 0;
        text-align: center;
        white-space: normal;
    }

    #switch {
        display: none;
    }

    section {
        margin-top: 0;
    }

    ul {
        margin-top: 35px;
    }

    main {
        display: block;
        height: 70%;
        margin-top: 50px;
    }

    #calculatorMain {
        margin-bottom: 50px;
    }

}

  /* Tablet Styles */
@media only screen and (min-width: 755px) and (max-width: 1038px) {

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 2vh;
    }

    #switch {
        display: none;
    }

    section {
        margin-top: 0;
    }

    h1 {
        margin: 20px 0;
        text-align: center;
    }

    main {
        display: block;
        height: 70%;
        margin-top: 50px;
    }

    #calculatorMain {
        margin-bottom: 50px;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 1039px) {

    #switch-mobile {
        display: none;
    }

    #calculatorMain {
        margin-bottom: 0;
    }

}